$mainColor: #FFFFFF;
$bg-color-pink: #ffb8ca;
$accentColor: #D41443;
$secondaryAccentColor: #FFA5BA;
$buttonHoverColor: #ECEBEB;
$buttonFooterColor: #D41342;
$textColor: #000000;
$textSecondaryColor: #907E82;
$socialsBgColor: #FEA5BB;
$mobileMenuBgColor: #E17992;
$contactsTitleColor: #F0D1A5;
$contactsBorderColor: #E1E1E1;
$ContactsTitleSecondaryColor: #C2E297;