$mainColor: #FFFFFF;
$accentColor: #D41443;
$secondaryAccentColor: #FFA5BA;
$buttonHoverColor: #ECEBEB;
$buttonFooterColor: #D41342;
$textColor: #000000;
$textSecondaryColor: #907E82;
$socialsBgColor: #FEA5BB;
$mobileMenuBgColor: #E17992;