<section class="about section">
    <div class="container">
        <p class="about__label"> tradition and love </p>
        <h2 class="about__title"> how it’s made </h2>
        <div class="about__wrapper">
            <div class="about__image">
                <picture>
                    <source srcset="
                            ./images/desktop/advantages/image1.webp.webp 1x,
                            ./images/desktop/advantages/image1@2x.webp.webp 2x" media="(min-width: 1200px)"
                        type="image/webp" />

                    <source srcset="
                            ./images/desktop/advantages/image1.jpg.jpg 1x,
                            ./images/desktop/advantages/image1@2x.jpg.jpg 2x" media="(min-width: 1200px)" />

                    <source srcset="
                            ./images/tablet/advantages/image1.webp.webp 1x,
                            ./images/tablet/advantages/image1@2x.webp.webp 2x" media="(min-width: 768px)"
                        type="image/webp" />

                    <source srcset="
                            ./images/tablet/advantages/image1.png.png 1x,
                            ./images/tablet/advantages/image1@2x.png.png 2x" media="(min-width: 768px)" />

                    <source srcset="
                            ./images/mobile/advantages/image1.webp 1x,
                            ./images/mobile/advantages/image1@2x.webp.webp 2x" media="(max-width: 767px)"
                        type="image/webp" />

                    <source srcset="
                            ./images/mobile/advantages/image1.jpg 1x,
                            ./images/mobile/advantages/image1@2x.jpg 2x" media="(max-width: 767px)" />

                    <img src="./images/desktop/advantages/image2.png.png" alt="Корова">
                </picture>
            </div>
            <div class="about__content">
                <p class="about__lead-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis vero
                    numquam, magni
                    laboriosam alias deserunt quae minima dolores repellendus, odit ipsam accusantium. Omnis recusandae,
                    error dolores
                    quod necessitatibus vel ipsa.</p>
                <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sit omnis
                    labore, perferendis
                    tenetur nihil explicabo, at expedita cupiditate minus incidunt quisquam impedit repellat! Provident
                    excepturi
                    nostrum sit necessitatibus ut?</p>
                <button class="button section-about__button button_theme-light" type="button">Read more
                    <svg class="button__icon_theme-light" width="5" height="8">
                        <use href="./images/svg.svg#icon-arrow-button"></use>
                    </svg>
                </button>
            </div>
        </div>

    </div>
</section>