<section class="about section">
    <div class="container">
        <p id="howitsmade" class="about__label"> tradition and love </p>
        <h2 class="about__title"> how it’s made </h2>
        <div class="about__wrapper">
            <div class="about__image">
                <picture>
                    <source srcset="
                            ./images/desktop/advantages/image2.webp 1x,
                            ./images/desktop/advantages/image2@2x.webp 2x" media="(min-width: 1200px)"
                        type="image/webp" />
                    <source srcset="
                            ./images/desktop/advantages/image2.png 1x,
                            ./images/desktop/advantages/image2@2x.png 2x" media="(min-width: 1200px)" />
                    <source srcset="
                            ./images/tablet/advantages/image2.webp 1x,
                            ./images/tablet/advantages/image2@2x.webp 2x" media="(min-width: 768px)"
                        type="image/webp" />
                    <source srcset="
                            ./images/tablet/advantages/image2.png 1x,
                            ./images/tablet/advantages/image2@2x.png 2x" media="(min-width: 768px)" />
                    <source srcset="
                            ./images/mobile/advantages/image2.webp 1x,
                            ./images/mobile/advantages/image2@2x.webp 2x" media="(max-width: 767px)"
                        type="image/webp" />
                    <source srcset="
                            ./images/mobile/advantages/image2.png 1x,
                            ./images/mobile/advantages/image2@2x.png 2x" media="(max-width: 767px)" />
                    <img src="./images/desktop/advantages/image2.png" alt="Корова">
                </picture>
            </div>
            <div class="about__content">
                <p class="about__lead-text">Ice cream is a sweetened frozen food typically eaten as a snack or dessert. It may be made from milk or cream and is
                flavoured with a sweetener, either sugar or an alternative, and a spice, such as cocoa or vanilla, or with fruit such as
                strawberries or peaches</p>
                <p class="about__text">The name came from the phrase "iced cream," which was similar to "iced tea"
                </p>
                <p class="about__text">
                    Ice cream contains nutrients that are good for your immune system
                </p> 
                <button class="button section-about__button button_theme-light" type="button" data-modal-open>Read more
                    <svg class="button__icon_theme-light" width="5" height="8">
                        <use href="./images/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>