<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden" id="about">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <p class="advantages__text">721</p>
        <p class="advantages__content">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text advantages__text--icon2">16kg</p>
        <p class="advantages__content">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text advantages__text--icon3">84</p>
        <p class="advantages__content">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
