<section class="contacts section" id="contact">
  <div class="contacts__container container">
    <h2 class="contacts__title visually-hidden" id="contact">CONTACTS</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__text">cafe</p>
        <ul class="contacts__list-top">
          <li class="contacts__item--black">Chicago</li>
          <li class="contacts__item--gray">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul class="contacts__list-middle">
          <li class="contacts__item--black">Monday - Friday</li>

          <li class="contacts__item--pink">06:00 AM - 11:00 PM</li>

          <li class="contacts__item--black">Saturday - Sunday</li>
          <li class="contacts__item--pink">08:00 AM - 16:00 PM</li>
        </ul>

        <ul class="contacts__list-bottom">
          <li>
            <a class="contacts__link-tel" href="tel:+61(0)383766284 "
              >+61(0) 383 766 284
            </a>
          </li>
          <li>
            <a class="contacts__link-mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__text">food truck</p>
        <ul class="contacts__list-top">
          <li class="contacts__item--black">Los Angeles</li>
          <li class="contacts__item--gray">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul class="contacts__list-middle">
          <li class="contacts__item--black">Monday - Friday</li>

          <li class="contacts__item--pink">06:00 AM - 11:00 PM</li>

          <li class="contacts__item--black">Saturday - Sunday</li>
          <li class="contacts__item--pink">08:00 AM - 16:00 PM</li>
        </ul>

        <ul class="contacts__list-bottom">
          <li>
            <a class="contacts__link-tel" href="tel:+61(0)383766284 "
              >+61(0) 383 766 284
            </a>
          </li>
          <li>
            <a class="contacts__link-mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__text">cafe</p>
        <ul class="contacts__list-top">
          <li class="contacts__item--black">New York</li>
          <li class="contacts__item--gray">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul class="contacts__list-middle">
          <li class="contacts__item--black">Monday - Friday</li>

          <li class="contacts__item--pink">06:00 AM - 11:00 PM</li>

          <li class="contacts__item--black">Saturday - Sunday</li>
          <li class="contacts__item--pink">08:00 AM - 16:00 PM</li>
        </ul>

        <ul class="contacts__list-bottom">
          <li>
            <a class="contacts__link-tel" href="tel:+61(0)383766284 "
              >+61(0) 383 766 284
            </a>
          </li>
          <li>
            <a class="contacts__link-mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__button-list">
      <li class="contacts__button-item">
        <button
          type="button"
          class="contacts__button--dark button button_theme-dark" data-modal-location-open
        >
          Our Locations
          <svg class="contacts__icon--light">
            <use href=./images/sprite.svg#icon-arrow></use>
          </svg>
        </button>
      </li>
      <li class="contacts__button-item">
        <button
          type="button"

          

          class="contacts__button--light button button_theme-light"
          data-modal-open-franchise

        >
          Franchise
          <svg class="contacts__icon--dark">
            <use href=./images/sprite.svg#franchise-arrow></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
