<footer class="container footer">
  <div class="footer__section">
    <div class="footer__title">
      <p class="footer__title-1">
        homemade ice cream<br />
        made
      </p>
      <p class="footer__title-2">
        with<br />
        passion
      </p>
    </div>
    <div class="footer-socials-section">
      <ul class="footer-socials">
        <li class="footer-socials__item">
          <a class="footer-socials__link" href="">
            <svg class="footer-socials__icon" width="19" height="19">
              <use href="./images/sprite.svg#footer-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials__item">
          <a class="footer-socials__link" href="">
            <svg class="footer-socials__icon" width="19" height="15">
              <use href="./images/sprite.svg#footer-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials__item">
          <a class="footer-socials__link" href="">
            <svg class="footer-socials__icon" width="9" height="19">
              <use href="./images/sprite.svg#footer-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="footer-contacts-list">
        <p class="footer-contacts-list__text">Feel free to contact</p>
        <a class="footer-contacts-list__link" href="tel:+61 (0) 383 766 284"
          >+61 (0) 383 766 284</a
        >
      </div>
    </div>
  </div>
<div class="footer-cr">
  <p class="footer-c">© 2022 - NotLastChild. All Rights Reserved.</p>
</div>
  
</footer>
