<!-- <section class="gallery section">
    <div class="container">
        <h1 class="title visually-hidden">Gallary</h1>
        <ul class="list gallery__item">
            <li class="gallery__cards">
                <a class="gallery__link" href="">
                    <div class="gallery__link-images">
                        <picture>
                            <source
                                srcset="./images/desktop/gallery/group.webp.webp 1x, ./images/desktop/gallery/group@2x.webp.webp 2x"
                                media="(min-width: 1200px)" type="image/webp">
                            <source
                                srcset="./images/desktop/gallery/group.png.png 1x, ./images/desktop/gallery/group@2x.png.png 2x"
                                media="(min-width: 1200px)">

                            <source
                                srcset="./images/tablet/gallery/group.webp.webp 1x, ./images/tablet/gallery/group@2x.webp.webp 2x"
                                media="(min-width: 768px)" type="image/webp">
                            <source
                                srcset="./images/tablet/gallery/group.png.png 1x, ./images/tablet/gallery/group@2x.png.png 2x"
                                media="(min-width: 768px)">

                            <source
                                srcset="./images/mobile/gallery/group.webp.webp 1x, ./images/mobile/gallery/group@2x.webp.webp 2x"
                                media="(min-width: 768px)" type="image/webp">
                            <source
                                srcset="./images/mobile/gallery/group.png.png 1x, ./images/mobile/gallery/group@2x.png.png 2x"
                                media="(max-width: 767px)">

                            <img src="./images/mobile/gallery/group.png.png" alt="Gallery">
                        </picture>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section> -->