<header id="home">
  <div class="header__container container bg-color">
    <nav class="header__navigation">
      <a href="./index.html">
        <svg class="logo__icon" width="199" height="50">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-list__item">
          <a class="nav-list__link" href="#home">Home</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#about">About us</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#howitsmade">How it’s made?</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#products">Our products</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div>
      <button class="button button_theme-light header__button" type="button">
        Buy now
        <svg class="button__icon_theme-light" width="5" height="8">
          <use href="./images/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
      <button class="mobile-menu__open-btn" type="button" data-menu-open>
        <svg class="mobile-menu__burger-icon" width="20" height="12">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </div>

    <div class="mobile-menu" data-menu link-menu>
      <div class="mobile-menu__container">
        <button class="mobile-menu__close-btn" type="button" data-menu-close>
          <svg class="mobile-menu__close-icon" width="14" height="14">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <button
          class="button button_theme-light mobile-menu__button"
          type="button"
        >
          Buy now
          <svg class="button__icon_theme-light" width="5" height="8">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>

        <ul class="mobile-menu__nav-list">
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link" href="#home" link-menu-close
              >Home</a
            >
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link" href="#about" link-menu-close
              >About us</a
            >
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link" href="#howitsmade" link-menu-close
              >How it’s made?</a
            >
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link" href="#products" link-menu-close
              >Our products</a
            >
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link" href="#contact" link-menu-close
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
