<header class="header" id="home">
  <div class="header__container container">
    <nav class="header__navigation">
      <svg class="logo__icon" width="199" height="50">
        <use href="./images/sprite.svg#logo"></use>
      </svg>
      <ul class="nav-list">
        <li class="nav-list__item">
          <a class="nav-list__link" href="#home">Home</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#about">About us</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#howitsmade">How it’s made?</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#products">Our products</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div>
      <button
        class="button button_theme-light header__button"
        type="button"
        data-modal-open-buy-now
        data-header-btn
      >
        Buy now
        <svg class="button__icon_theme-light" width="5" height="8">
          <use href="./images/sprite.svg#icon-arrow"></use>
        </svg>
      </button>

      <button
        class="mobile-menu__open-btn"
        type="button"
        aria-label="Open Button"
        data-burger
      >
        <svg class="mobile-menu__burger-icon" width="20" height="12">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </div>

    <button class="home-button" type="button" aria-label="Return to home">
      <a class="home-button__link" href="#home"
        ><img
          src="https://img.icons8.com/ios-glyphs/60/ffb8ca/top-menu.png"
          alt="top arrow"
      /></a>
    </button>

    <div class="mobile-menu" data-mobile-menu>
      <div class="mobile-menu__container">
        <button class="mobile-menu__close-btn" type="button" data-btn-close>
          <svg class="mobile-menu__close-icon" width="14" height="14">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <button
          class="button button_theme-light mobile-menu__button"
          type="button"
          data-modal-mobile-open-buy-now
        >
          Buy now
          <svg class="button__icon_theme-light" width="5" height="8">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>

        <ul class="mobile-menu__nav-list">
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link" href="#home" data-home>Home</a>
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link" href="#about" data-products
              >About us</a
            >
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link" href="#howitsmade" data-about
              >How it’s made?</a
            >
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link" href="#products" data-gallery
              >Our products</a
            >
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link" href="#contact" data-contacts
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
