<div class="backdrop is-hidden" data-modal-location>
  <div class="contacts__modal-location">
    <button type="button" class="modal-close-btn" data-modal-location-close>
      <svg class="modal-close-btn__icon" width="12" height="12">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <iframe
      class="iframe-window"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.221552630466!2d-87.6147283!3d41.8665795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2bcdde2e3dbf%3A0x788a2cf03bc86a57!2sIce%20cream!5e0!3m2!1sru!2spl!4v1658166963485!5m2!1sru!2spl"
      style="border: 0"
      referrerpolicy="no-referrer-when-downgrade"
      allowfullscreen="allowfullscreen"
      loading="lazy"
    ></iframe>
  </div>
</div>
