<div class="backdrop is-hidden" data-modal>
    <div class="modal modal-bg">
        <button type="button" class="modal-close-btn" data-modal-close>
            <svg class="modal-close-btn-icon" width="18px" height="18px">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>

        <h2 class="modal__title"> how it’s made </h2>
        <div class="modal__recipe">            
            <h4 class="modal__recipe-title"> ICE CREAM SANDWICH CAKE </h4>
            <p class="modal__recipe-lable">Ingredients</p>
            <ul class="modal__recipe-list">
                <li class="modal__recipe-item">
                    6-8 Velvet Ice Cream Sandwiches (Vanilla or Peppermint)
                </li>
                <li class="modal__recipe-item">
                    8 oz container whipped topping
                </li>
                <li class="modal__recipe-item">
                    Fresh fruit (optional)
                </li>
            </ul>
            <p class="modal__recipe-lable">Instructions</p>
            <ul class="modal__recipe-list-inst">
                <li>
                    Line a loaf pan (8½” x 4½”) with plastic wrap. Leave extra to cover top and sides. Place ½ cup of whipped topping in the
                    bottom of the loaf pan.
                </li>
                <li>
                    Cut Velvet Ice Cream Sandwiches to fit the pan and make one layer. Top with ½ cup of whipped topping. Repeat layers
                    until the loaf pan is full.
                </li>
            </ul>
        </div>
        <div class="modal__recipe">
            <h4 class="modal__recipe-title"> PEPPERMINT CHOCOLATE DELIGHT </h4>
            <p class="modal__recipe-lable">Ingredients</p>
            <ul class="modal__recipe-list">
                <li class="modal__recipe-item">
                    8 oz. hot chocolate
                </li>
                <li class="modal__recipe-item">
                    ½ cup of Velvet Peppermint Stick Ice Cream
                </li>
                <li class="modal__recipe-item">
                    1 candy cane
                </li>
            </ul>
            <p class="modal__recipe-lable">Instructions</p>
            <ul class="modal__recipe-list-inst">
                <li>
                    Pour hot chocolate into a large mug. Be sure to not fill the mug all the way to the top to allow room for 
                    the ice cream.
                </li>
                <li>
                    Carefully place ½ cup of Velvet Peppermint Stick ice cream into large mug.
                </li>
                <li>
                    Optional Topping: Break up additional candy cane into pieces and use as a garnish.
                </li>
            </ul>
        </div>
        

    </div>
</div>