<div class="backdrop is-hidden" data-modal-location>
  <div class="contacts__modal-location">
    <button type="button" class="modal-close-btn" data-modal-location-close>
      <svg class="modal-close-btn__icon" width="12" height="12">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <iframe
      class="iframe-window"
      src="https://maps.google.com/maps?q=%D1%85%D1%83%D1%80%D0%B3%D0%B0%D0%B4%D0%B0&t=&z=13&ie=UTF8&iwloc=&output=embed"
      style="border: 0"
      allowfullscreen="allowfullscreen"
      loading="lazy"
    ></iframe>
  </div>
</div>
