<div class="backdrop is-hidden" data-modal-location>
  <div class="contacts__modal-location">
    <button type="button" class="modal-close-btn" data-modal-location-close>
      <svg class="modal-close-btn__icon" width="12" height="12">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <iframe
      class="iframe-window"
      src="https://www.google.com/maps/d/u/0/embed?mid=1Ep30bbJIPM0VVoW9R2zveh779hCK9bE&ehbc=2E312F"
      style="border: 0"
      referrerpolicy="no-referrer-when-downgrade"
      allowfullscreen="allowfullscreen"
      loading="lazy"
    ></iframe>
  </div>
</div>
