<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal-close-btn" data-modal-close>
            <svg class="modal-close-btn-icon" width="18px" height="18px">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="about__label"> tradition and love </p>
        <h2 class="about__title"> how it’s made </h2>
        <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita 
            temporibus porro nemo veniam eveniet unde deserunt optio aperiam natus nisi quae voluptatem 
            accusamus tempore, eos alias. Ipsum tenetur non animi, repellat accusantium impedit provident
             officia praesentium mollitia fugiat architecto cum necessitatibus consequuntur eveniet! Harum 
             ducimus sint numquam reprehenderit temporibus quam sequi sapiente, necessitatibus asperiores tenetur
              itaque, possimus hic! Quis qui quae magnam architecto praesentium aliquid adipisci! Asperiores nihil, 
              impedit quisquam possimus qui ex nostrum cupiditate dignissimos officiis autem ad molestiae delectus beatae,
               sint quos laudantium corporis ea quaerat earum repudiandae ab magni vel. Hic aperiam doloribus, similique 
               ullam quas sunt culpa accusantium consectetur numquam dolor quisquam voluptatem magnam quis a? Consequatur 
               distinctio consequuntur esse, praesentium voluptas iusto aut reiciendis nesciunt omnis provident, expedita 
               aliquam officiis nisi at placeat commodi. Nostrum voluptatibus totam eos voluptas accusantium est, voluptatum
                nam aut nemo sequi dolores laboriosam eaque cumque perferendis corrupti veniam doloribus explicabo molestias?
                 Minus, ratione eveniet laboriosam, natus fuga officiis quas reiciendis perferendis voluptas autem quidem 
                 itaque est recusandae dignissimos sed, possimus sequi ipsam dicta nulla aspernatur? Fugiat soluta fugit 
                 similique aliquid atque, sint explicabo eveniet. Expedita dicta exercitationem nobis velit! Beatae dicta 
                 tempore praesentium neque libero repudiandae odit, ipsam quia odio? Quae, soluta vel velit earum, animi 
                 necessitatibus ad, architecto nihil hic amet facilis. Voluptatem unde debitis nihil ea neque adipisci, 
                 ipsa ipsum facere id quidem nobis assumenda illum ipsam hic ratione cupiditate autem vero commodi atque 
                 repudiandae fugit? Veritatis pariatur architecto voluptates, consectetur temporibus vel aut magni, 
                 maxime ab omnis ex quas tempora repudiandae iusto. Repudiandae, cupiditate! Sed incidunt quis dolor 
                 ipsa adipisci inventore nulla, maiores alias debitis quae dolorum odio aperiam atque eos hic reiciendis
                  quaerat ad quas provident illum quidem cupiditate. Ut placeat voluptas, illo suscipit, rerum molestiae 
                  cumque iusto alias pariatur eaque soluta quo repellendus nulla odio?</p>

    </div>
</div>