<div class="backdrop is-hidden modal-franchise" data-modal-franchise>
  <div class="modal modal-bg">
    <button type="button" class="modal-close-btn" data-modal-close-franchise>
      <svg class="modal-btn-close-icon" width="18" height="18">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form class="modal-form">
      <h2 class="modal__title">Do you want to work with us?</h2>
      <h4 class="modal__franchise-title">Do you want to have the best site?</h4>
      <p class="modal__franchise-lable">Then enter the form and we will contact with you!</p>
      <label class="modal-form__field">
        <span class="modal-form__field_key">Your name*</span>
        <span class="modal-form__wrapper">
          <input class="modal-form__input" type="text" required name="user-name" pattern="[a-zA-Z]*" title="Jhon Smidt">
          <svg class="modal-form__icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </span>
      </label>
      <label class="modal-form__field">
        <span class="modal-form__field_key">Phone number*</span>
        <span class="modal-form__wrapper">
          <input class="modal-form__input" type="tel" required name="user-phone"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx">
          <svg class="modal-form__icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </span>
      </label>
      <label class="modal-form__field">
        <span class="modal-form__field_key">E-mail*</span>
        <span class="modal-form__wrapper">
          <input class="modal-form__input" type="email" required name="user-email">
          <svg class="modal-form__icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </span>
      </label>
      <p class="modal__franchise-lable">Type of activity</p>
      <div class="modal-form__activity">
        <div class="modal-form__activity_list">
          <div class="modal-form__activity_field">
          <input type="checkbox" class="modal-form__activity_input" name="activity" value="Jurisprudence" id="Jurisprudence">
          <label class="modal-form__label" for="Jurisprudence">Jurisprudence</label>
        </div>
        <div class="modal-form__activity_field">
          <input type="checkbox" class="modal-form__activity_input" name="activity" value="Medicine" id="Medicine">
          <label class="modal-form__label" for="Medicine">Medicine</label>
        </div>
        </div>
        <div class="modal-form__activity_list">
          <div class="modal-form__activity_field">
            <input type="checkbox" class="modal-form__activity_input" name="activity" value="Technology" id="Technology">
            <label class="modal-form__label" for="Technology">Technology</label>
          </div>
          <div class="modal-form__activity_field">
            <input type="checkbox" class="modal-form__activity_input" name="activity" value="Teaching" id="Teaching">
            <label class="modal-form__label" for="Teaching">Teaching</label>
          </div>
        </div>
        <div class="modal-form__activity_list">
          <div class="modal-form__activity_field">
            <input type="checkbox" class="modal-form__activity_input" name="activity" value="Music" id="Music">
            <label class="modal-form__label" for="Music">Music</label>
          </div>
          <div class="modal-form__activity_field">
            <input type="checkbox" class="modal-form__activity_input" name="activity" value="Other" id="Other">
            <label class="modal-form__label" for="Other">Other</label>
          </div>
        </div>
      </div>
      <p class="modal__franchise-lable">Tell about your company</p>
      <label class="modal-form__field">
        <span class="modal-form__field_key">Your comment
        </span>
        <textarea class="modal-form__message" placeholder="Write text" name="user-message"></textarea>
      </label>
      <button type="submit" class="button button_theme-dark modal-form__btn">
        Send
      </button>
    </form>
  </div>
</div>