.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #FFFFFF;
    width: 100%;
}

.modal-btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.modal-btn-close-icon {
    fill: #000000;

    .modal-btn-close:hover &,
    .modal-btn-close:focus & {
        fill: var(--accent-color);
    }
}

@media screen and (max-width: 1199px) {
    .modal {
        max-width: 450px;
        height: 609px;
    }
}

@media screen and (min-width: 1200px) {
    .modal {
        max-width: 528px;
        height: 581px;
    }
}