.hero-container {
  width: 100%;
  padding-top: 0;
}

.background {
  width: 100%;
    background-color: $bg-color-pink;

    @media screen and (max-width: 767px) {
      overflow: hidden;
    }
}

.hero {       
    position: relative;
    display: flex;

    @media screen and (max-width: 767px) {
      padding-top: 136px;
      padding-bottom: 158px;
    }

    @media screen and (min-width: 768px) {
      padding-top: 20px;
      padding-bottom: 16px;
    }
  
    @media screen and (min-width: 1200px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
}


.hero__wrapper-left {
  position: relative;
      z-index: 999;
}
  
.hero__title {
      letter-spacing: 0.04em;
      font-family: 'Titan One';
      font-size: 38px;
      font-weight: 400;
      line-height: 1.16;
      letter-spacing: 0.04em;
  
      text-transform: uppercase;
      color: $mainColor;

      margin-bottom: 20px;
  
      @media screen and (max-width: 767px) {
        max-width: 218px;
        font-size: 26px;
        line-height: 1.15;
      }
  
      @media screen and (min-width: 768px) {
        max-width: 162px;
        font-size: 22px;
        line-height: 1.13;
        
      }

      @media screen and (min-width: 1200px) {
        font-size: 38px;
        line-height: 1.15;
        max-width: 277px;
        margin-bottom: 24px;
      }
}
  
.hero__title--accent {
      color: $accentColor;
  
      @media screen and (max-width: 767px) {
        font-size: 46px;
      }
  
      @media screen and (min-width: 768px) {
        font-size: 34px;
        
      }

      @media screen and (min-width: 1200px) {
        font-size: 60px;
      }
}
  
.hero__list-left {
      margin-left: auto;
      display: flex;
      
}

.hero__item-left:first-child {
      @media screen and (max-width: 1199px) {
        margin-right: 8px;
      }
  
      @media screen and (min-width: 1200px) {
        margin-right: 12px;
      }
}
  
.hero__btn {
      border-radius: 20px;
      border: transparent;
  
      color: $accentColor;
      font-family: var(--main-fonts);
  
      background-color: $mainColor;
      cursor: pointer;
  
      @include transition(background-color);
      &:hover,
      &:focus {
        background-color:  $buttonHoverColor;
      }
  
      @media screen and (max-width: 1199px) {
        padding: 7px 14px;
  
        font-size: 8px;
        line-height: 1.25;
      }
  
      @media screen and (min-width: 1200px) {
        padding: 11px 19px;
  
        font-size: 14px;
        line-height: 1.28;
      }
    }

.hero__btn-accent {
      border-radius: 20px;
      border: transparent;
  
      color: $mainColor;
      font-family: 'DM Sans';
      font-size: 14px;
      line-height: 1.3;
      font-weight: 400;
      background-color: $accentColor;
      cursor: pointer;
  
      @include transition(background-color);
      &:hover,
      &:focus {
        background-color: $accentColor;
      }
  
      @media screen and (max-width: 1199px) {
        padding: 7px 14px;
  
        font-size: 8px;
        line-height: 1.25;
      }
  
      @media screen and (min-width: 1200px) {
        padding: 11px 24px;
  
        font-size: 14px;
        line-height: 1.28;
      }
    }
.hero__img-middle {
  z-index: 1;
  position: absolute;
  bottom: 0;

  @media screen and (max-width: 767px) {
    bottom: 0px;
    margin-left: auto;
    right: 20px;
  }

  @media screen and (min-width: 768px) {
    // object-position: auto auto;
    right: 320px;
  }

  @media screen and (min-width: 1200px) {
    left: 620px;
  }
}

.hero__img-middle::before {
  position: absolute;
  z-index: -1;
  border-radius: 50%;

  content: '';
  background-color: #ffa5ba;

  @media screen and (max-width: 767px) {
    top: -13px;
    left: -88px;
    width: 345px;
    height: 345px;
  }

  @media screen and (min-width: 768px) {
    top: -55px;
    left: -100px;
    width: 360px;
    height: 360px;
  }

  @media screen and (min-width: 1200px) {
    top: -15px;
    left: -118px;
    width: 540px;
    height: 540px;
  }
}
  
.hero__box {
      display: flex;
      margin-top: 20px;
      z-index: 4;
      align-items: center;
      bottom: 16px;
  
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

.hero__text-left {
      font-family: $mainColor;
      font-weight: 400;
      color: $mainColor;
  
      @media screen and (min-width: 768px) {
        max-width: 114px;
  
        font-size: 8px;
        line-height: 1.5;
      }
  
      @media screen and (min-width: 1200px) {
        max-width: 200px;
  
        font-size: 14px;
        line-height: 1.4;
      }
}
  
.hero__modal-btn {
      border: transparent;
      background-color: transparent;
      cursor: pointer;

      @media screen and (max-width: 1199px) {
        width: 18px;
      }
  
      @media screen and (min-width: 768px) {
        margin-top: 7px;
      }
  
      @media screen and (min-width: 1200px) {
        margin-top: 20px;
      }
}
  
.hero__list-right {
  position: absolute;
  top: 16px;
  right: 40px;
  margin-left: auto;
  
      @media screen and (max-width: 767px) {
        display: none;
      }

      @media screen and (min-width: 1200px) {
        top: 80px;
    }
}

.hero__item-right {
      display: flex;
      flex-direction: column;
      align-items: end;
    }
  
    .hero__item-right:last-child {
      margin-top: 18px;
    }
  
.hero__number {
      display: inline-block;
      position: relative;
      z-index: 1;
      font-family: "titan one";
      font-size: 46px;
      line-height: 1.15;
      font-weight: 400;
      letter-spacing: 0.04em;

      @media screen and (max-width: 767px) {
        display: none;
      }
  
      color: $accentColor;
      @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 1.14;
      }
      @media screen and (min-width: 1200px) {
        font-size: 46px;
        line-height: 1.13;
      }
    }
  
.hero__number::before {
      position: absolute;
      z-index: -1;
  
      content: ' ';
      background-color: $mainColor;
      border-radius: 50%;
  
      @media screen and (min-width: 768px) {
        top: -3px;
        right: -7px;
        width: 16px;
        height: 16px;
      }
      @media screen and (min-width: 1200px) {
        top: -7px;
        right: -15px;
        width: 30px;
        height: 30px;
      }
    }
  
.hero__text-right {
      display: block;
      margin-top: 2px;
  
      font-family: var(--main-fonts);
      color: $mainColor;
      font-weight: 400;
  
      @media screen and (min-width: 768px) {
        font-size: 8px;
        line-height: 1.25;
      }
  
      @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.28;
      }
    }



  .hero__img-right {
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 32px;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }


  .link {
    text-decoration: none;
  }
  
  .logo {
    margin-right: auto;
  }
  
  .header__nav {
    margin-right: auto;
  }
  
  .hidden.is {
    display: none;
  }
  
  // scroll
  html {
    scroll-behavior: smooth;
  }