.background {
  width: 100%;
    background-color: $bg-color-pink;
    @include mq(mobile-only) {
      overflow: hidden;
      
    }

.container {
  padding-bottom: 0px;
}

  }
  .hero {
    position: relative;
    display: flex;
    @include mq(mobile-only) {
      padding-top: 136px;
      padding-bottom: 158px;
    }
    @include mq(tablet) {
      padding-top: 20px;
      padding-bottom: 16px;
    }
  
    @include mq(desktop) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  
    &__wrapper-left {
      z-index: 4;
    }
  
    &__title {
      letter-spacing: 0.04em;
      font-family: 'Titan One';
      font-size: 38px;
      font-weight: 400;
      line-height: 1.16;
      letter-spacing: 0.04em;
  
      text-transform: uppercase;
      color: $mainColor;
  
      @include mq(mobile-only) {
        max-width: 218px;
        font-size: 26px;
        line-height: 1.15;
      }
  
      @include mq(tablet) {
        max-width: 162px;
        font-size: 22px;
        line-height: 1.13;
      }
      @include mq(desktop) {
        font-size: 38px;
        line-height: 1.15;
        max-width: 277px;
      }
    }
  
    &__title--accent {
      color: $accentColor;
  
      @include mq(mobile-only) {
        font-size: 46px;
      }
  
      @include mq(tablet) {
        font-size: 34px;
      }
      @include mq(desktop) {
        font-size: 60px;
      }
    }
  
    &__list-left {
      margin-left: auto;
      display: flex;
      @include mq(notDesktop) {
        margin-top: 20px;
      }
      @include mq(desktop) {
        margin-top: 24px;
      }
    }
  
    &__item-left:first-child {
      @include mq(notDesktop) {
        margin-right: 8px;
      }
  
      @include mq(desktop) {
        margin-right: 12px;
      }
    }
  
    &__btn {
      border-radius: 20px;
      border: transparent;
  
      color: $accentColor;
      font-family: var(--main-fonts);
  
      background-color: $mainColor;
      cursor: pointer;
  
      @include transition(background-color);
      &:hover,
      &:focus {
        background-color:  $buttonHoverColor;
      }
  
      @include mq(notDesktop) {
        padding: 8px 12px;
  
        font-size: 8px;
        line-height: 1.25;
      }
  
      @include mq(desktop) {
        padding: 11px 19px;
  
        font-size: 14px;
        line-height: 1.28;
      }
    }
    &__btn-accent {
      border-radius: 20px;
      border: transparent;
  
      color: $mainColor;
      font-family: 'DM Sans';
      font-size: 14px;
      line-height: 1.3;
      font-weight: 400;
      background-color: $accentColor;
      cursor: pointer;
  
      @include transition(background-color);
      &:hover,
      &:focus {
        background-color: $accentColor;
      }
  
      @include mq(notDesktop) {
        padding: 7px 14px;
  
        font-size: 8px;
        line-height: 1.25;
      }
  
      @include mq(desktop) {
        padding: 11px 24px;
  
        font-size: 14px;
        line-height: 1.28;
      }
    }
  
    &__box {
      display: flex;
      margin-top: 20px;
      z-index: 4;
      align-items: center;
  
      @include mq(mobile-only) {
        display: none;
      }
    }
  
    &__text-left {
      font-family: $mainColor;
      font-weight: 400;
      color: $mainColor;
  
      @include mq(tablet) {
        max-width: 114px;
  
        font-size: 8px;
        line-height: 1.5;
      }
  
      @include mq(desktop) {
        max-width: 200px;
  
        font-size: 14px;
        line-height: 1.4;
      }
    }
  
    &__modal-btn {
      border: transparent;
      background-color: transparent;
      cursor: pointer;
  
      @include mq(tablet) {
        margin-top: 7px;
      }
  
      @include mq(desktop) {
        margin-top: 20px;
      }
    }
  
    &__list-right {
      margin-left: auto;
  
      @include mq(mobile-only) {
        display: none;
      }
    }
    &__item-right {
      display: flex;
      flex-direction: column;
      align-items: end;
    }
  
    &__item-right:last-child {
      margin-top: 18px;
    }
  
    &__number {
      display: inline-block;
      position: relative;
      z-index: 1;
      font-family: "titan one";
      font-size: 46px;
      line-height: 1.15;
      font-weight: 400;
      letter-spacing: 0.04em;
      @include mq(mobile-only) {
        display: none;
      }
  
      color: $accentColor;
      @include mq(tablet) {
        font-size: 28px;
        line-height: 1.14;
      }
      @include mq(desktop) {
        font-size: 46px;
        line-height: 1.13;
      }
    }
  
    &__number::before {
      position: absolute;
      z-index: -1;
  
      content: ' ';
      background-color: $mainColor;
      border-radius: 50%;
  
      @include mq(tablet) {
        top: -3px;
        right: -7px;
        width: 16px;
        height: 16px;
      }
      @include mq(desktop) {
        top: -7px;
        right: -15px;
        width: 30px;
        height: 30px;
      }
    }
  
    &__text-right {
      display: block;
      margin-top: 2px;
  
      font-family: var(--main-fonts);
      color: $mainColor;
      font-weight: 400;
  
      @include mq(tablet) {
        font-size: 8px;
        line-height: 1.25;
      }
  
      @include mq(desktop) {
        font-size: 14px;
        line-height: 1.28;
      }
    }
  }
  
  .hero {
    &__img-middle {
      z-index: 1;
      position: absolute;
      bottom: 0;

      @include mq(mobile-only) {
        bottom: 0px;
        margin-left: auto;
        right: 16px;
      }
  
      @include mq(tablet) {
        left: 320px;
      }
  
      @include mq(desktop) {
        left: 620px;
      }
    }
    &__img-middle::before {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      border-radius: 50%;
  
      content: '  ';
      background-color: #ffa5ba;
  
      @include mq(mobile-only) {
        // top: -14px;
        // left: -100px;
        width: 346px;
        height: 344px;
      }
      @include mq(tablet) {
        // top: -55px;
        // left: -93px;
        width: 360px;
        height: 360px;
      }
      @include mq(desktop) {
        // top: -51px;
        // left: -118px;
        width: 540px;
        height: 540px;
      }
    }
  
    &__img-right {
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0px;
      @include mq(mobile-only) {
        display: none;
      }
    }
  }
  
  .logo {
    margin-right: auto;
  }
  
  .header__nav {
    margin-right: auto;
  }
  
  .hidden.is {
    display: none;
  }
  
  // scroll
  html {
    scroll-behavior: smooth;
  }