.modal__recipe {
  margin-bottom: 20px;
}

.modal__title {
  font-family: 'Titan One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: $accentColor;
  margin-bottom: 20px;
}

.modal__recipe-title {
  font-family: 'Titan One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: $secondaryAccentColor;
  margin-bottom: 20px;
}

.modal__recipe-lable {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.58;
  color: #a33e4c;
}

.modal__recipe-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: $textColor;
}

.modal__recipe-list {
  padding-left: 20px;
  list-style-type: circle;
}

.modal__recipe-list-inst {
  padding-left: 20px;
  list-style-type: decimal;
}
