.modal-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal-form__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: $accentColor;
}

.modal-form__field {
    margin-bottom: 10px;
}

.modal-form__field_key {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $textSecondaryColor;
}

.modal-form__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid $textSecondaryColor;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: $accentColor;
    }
}

.modal-contacts-form-message {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid $textSecondaryColor;
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: $accentColor;
    }

    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: $textSecondaryColor;
    }
}

.modal-form__wrapper {
    position: relative;
    display: block;
}

.modal-form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    stroke: $textSecondaryColor;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__input:focus + & {
        stroke: $accentColor;
    }
}

.modal-form__money {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal-form__payment {
    color: $accentColor;
    font-size: 20px;
    line-height: 1.17;
    font-weight: 700;
}

.form-caption {
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.modal-form__payment_field {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.modal-form__label {
    color: $accentColor;
    font-size: 20px;
    font-weight: 1.17;
    margin-left: 4px;
    cursor: pointer;
}

.modal-form__checkbox_lable {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    letter-spacing: 0.03em;
    color: $textSecondaryColor;
    margin-bottom: 30px;

    &::before {
        content: "";
        display: block;
        width: 16px;
        height: 15px;
        border: 2px solid $textSecondaryColor;
        border-radius: 2px;
        margin-right: 7px;
        cursor: pointer;

        .modal-form__checkbox:checked+& {
            background-color: $accentColor;
            border: none;
            // background-image: (url(../../images/sprite.svg#icon-close)) ;
            background-repeat: no-repeat;
            background-size: auto auto;
            background-position: 50% 50%;
        }

        .modal-form__checkbox:focus+& {
            border-color: $accentColor;
        }
    }
}

.modal-form__link {
    color: $accentColor;
}

// .modal-form__checkbox_icon {
//     fill: transparent;
//     border: 2px solid #212121;
//     border-radius: 4px;
//     cursor: pointer;
//     margin-right: 7px;
//     transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
//         fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

.modal-form__btm {
    min-width: 200px;
    align-self: center;
    padding: 10px 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $textColor;
    background-color: $mobileMenuBgColor;
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
        background-color: $accentColor;
    }
}