.products {
    padding: 60px 0;
}

.section__suptitle {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
    text-transform: uppercase;

    color: #FFA5BA;
    margin-bottom: 15px;
}

.section__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #D41443;
    margin-bottom: 8px;
}

.products__list {}

.products__item {
    padding: 60px;
}

.products__item--pink {
    background-color: #FFB8CA;
}

.products__item--peach {
    background-color: #F0D1A5;
}

.products__item--green {
    background-color: #C2E297;
}


.products__name {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.products__name::before {
    content: "";
    display: block;
    width: 280px;
    height: 280px;
    background-image: url(../../images/mobile/products/image1.png.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.products__text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;

    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;
}

.products__text::before {}

.products__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
}

.products__button-icon {}

@media screen and (min-width: 768px) {
    .products__list {
        display: flex;
    }

    .products__item {
        width: calc((100% - 32px) / 3);
    }

    .products__item:not(:last-child) {
        margin-right: 16px;
    }

    .section__suptitle {
        margin-bottom: 18px;
    }

    .section__title {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .section__suptitle {
        margin-bottom: 16px;
    }

    .products__item {
        width: calc((100% - 64px) / 3);
    }

    .products__item:not(:last-child) {
        margin-right: 32px;
    }

}